---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import ContactUs from '~/components/widgets/ContactImg.astro';



const metadata = {
  title: 'About me',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="רוני נתנאל"
    tagline="נעים להכיר"
  >
    <Fragment slot="subtitle">
      אני סטייליסטית כבר מאתיים שנה, חיה ונושמת אופנה מאז ומתמיד. <br /> אשמח לעזור לכם להשיג את סטייל החלומות!
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="עליי"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: 'Whatsapp',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">עליי</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <ContactUs
  id="contact"
  title="צרו קשר"
  image={{       src: '~/assets/images/bow2.jpg', alt: 'Contact Us' }}
  inputs={[
    { type: 'text', name: 'name', label: 'שם' },
    { type: 'email', name: 'email', label: 'אימייל' },
        { type: 'phone', name: 'phone', label: 'טלפון' }

  ]}
  textarea={{ label: 'הודעה' }}
  disclaimer={{
      label:
        'על ידי שליחת טופס יצירת הקשר הזה, אתה מאשר ומסכים לאיסוף המידע האישי שלך.',
    }}
    description="צוות התמיכה שלנו בדרך כלל מגיב תוך 24 ימי עסקים."
/>


</Layout>
