---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Prices from '~/components/widgets/PricingNew.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import ContactUs from '~/components/widgets/ContactImg.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import TestimonialCarousel from '~/components/widgets/TestimonialCarousel.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
const SHEET_URL = 'https://script.google.com/macros/s/AKfycbxDyCd_LuK4CIJwveNPuhvT6T_pkf-HfqbPAh-3UqtAfDLNS7WkAXz9zPB524AqQAc66g/exec';
const testimonials = await fetch(SHEET_URL).then(res => res.json()).catch(() => []);


---

<Layout metadata={metadata}>




  <!-- Note Widget ******************* -->


<Hero3
  title="הכותרת הראשית כאן"
  actions={[
    { variant: 'primary', text: 'צרו קשר', href: '#contact' },
    { text: 'השירותים שלי', href: '/services' },
  ]}
  image={{       src: '~/assets/images/shopper.jpg', alt: 'Background' }}
  logo={{ src: '~/assets/images/logobg.webp', alt: 'Logo' }}
>
  <Fragment slot="subtitle">
האם הבגדים שלכם באמת מספרים את הסיפור שלכם?
  </Fragment>
</Hero3>

  <Note title="הסטייל שלכם" description="הוא הדרך שבה אתם מציגים לעולם מי אתם" icon="tabler:hanger"/>

 <Features2
 id="why"
    title="אולי הגיע הזמן לדייק את המלתחה?"
    subtitle="היי, אם הגעתם לכאן, כנראה שאתם מרגישים שהמלתחה שלכם כבר לא מספרת את הסיפור שלכם. 
</br></br>
אולי אתם עומדים בפני שינוי אישי או מקצועי, אולי אתם מרגישים שאין לכם מה ללבוש למרות שהארון מלא, ואולי אתם רוצים פשוט להרגיש יותר מדויקים, בטוחים ונינוחים עם מה שאתם לובשים
</br></br>
אני מאמינה שאין דרך אחת 'נכונה' להתלבש. לכל אדם יש אישיות, סיפור ונוכחות משלו, והתפקיד שלי הוא לזהות אותם ולתרגם אותם לשפה של צבעים, גזרות וסגנון. הניסיון שלי כשחקנית לימד אותי לראות את האדם שמאחורי הבגד, וליצור התאמה מדויקת בין מי שהוא לבין מה שהוא משדר לעולם."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



      <Stats
    title=""
    stats={[
      { amount: '30', title: 'שנות ניסיון', icon: 'tabler:shirt' },
      { amount: '5K+',title: 'לקוחות מרוצים', icon: 'tabler:users' },
      { amount: '4.9', title: 'כוכבים',icon: 'tabler:user-star' },
    ]}
  />
  <!-- Features Widget *************** -->





    



  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: 'Whatsapp',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
        callToAction={{
      text: 'עוד עליי',
      href: '/about',
      icon: 'tabler:chevron-left',
    }}
  >
    <Fragment slot="content"
    
    >
      <h2 class="text-2xl font-bold tracking-tight  sm:text-3xl mb-2">אז מי אני בעצם?</h2>
      <p>
אז אני רוני נתנאל, שחקנית וסטייליסטית אישית.
      </p>
      <br />
      <p>
השילוב בין עולם המשחק ועולם הסטיילינג האלה הוא מה שמייחד אותי, ואולי גם הסיבה שהגעתם דווקא אליי.
      </p>
      <br />
      <p>בעבודתי כשחקנית אני נכנסת שוב ושוב לדמויות שונות. בכל ערב אני לובשת תפקיד אחר, והבגד הוא חלק בלתי נפרד מתהליך בניית הדמות. הוא מספר סיפור, משדר נוכחות ומבטא את האישיות של האדם שלובש אותו.
</p>
<br/>
<p>עם השנים הבנתי שהיכולת לראות אנשים, להבין מה מחמיא להם ולבטא את האישיות שלהם דרך לבוש, היא חלק בלתי נפרד ממני. הסטיילינג זורם בדמי, ומתוך התשוקה הזו בחרתי להפוך את הידע והניסיון שלי למקצוע.
</p>
<br />
<p>העבודה שלי משלבת יצירתיות, רגישות והבנה עמוקה של סגנון אישי, מבנה גוף ואורח חיים. אני מלווה נשים וגברים בתהליך שמטרתו ליצור מלתחה מדויקת, מחמיאה ונכונה לחיים עצמם, כזו שמעניקה ביטחון, נוכחות והרגשה טובה בכל יום מחדש.
</p>
    </Fragment>

    <Fragment slot="bg" >
      <div class="absolute inset-0  "></div>
    </Fragment>
  </Content>

        <Note
    actions={[
      {
        variant: 'primary',
        text: 'טוב תכלס, איפה יוצרים קשר?',
        href: '#contact',
        icon: 'tabler:message-circle',
      },
    ]}
/>

    <Prices
    id="services"
    title="איך זה עובד?"
    subtitle="(ולמי ששאל – כן, לגמרי גם לנשים וגם לגברים)"
    prices={[
      {
        title: 'באה לביקור בארון',
        subtitle: 'עד 4 שעות',
        price: 29,
        period: 'כל חודש',
        items: [
     
          {
            description: 'מפגש אישי בביתך שבו נעשה סדר בארון, נמיין יחד מה מחמיא לך ומה פחות, ניצור לוקים חדשים מהבגדים שכבר קיימים אצלך, ונצלם את השילובים לשימוש יומיומי. בסיום נכין רשימת פריטים מומלצים להשלמת המלתחה.',
          },
         {
            description: 'מתאים גם ללקחות חדשים וגם ללקוחות חוזרים',
          },
        ],
        callToAction: {
          text: 'אני רוצה מהפך בארון',
          href: '#',
          icon: 'tabler:clothes-rack',
        },
      },
      {
        title: 'חבילת הפפיון',
        subtitle: 'החבילה משלבת את שני שלבי הסטיילינג האישי – החל מהצצה עמוקה לתוך הארון הקיים ועד ליום קניות ממוקד, מדויק וכולו פאן.',
        price: 69,
        period: 'Per Month',
        items: [
          {
            description: 'באה לביקור בארון',
            more_text:'מפגש אישי בביתך שבו נעשה סדר בארון, נמיין יחד מה מחמיא לך ומה פחות, ניצור לוקים חדשים מהבגדים שכבר קיימים אצלך, ונייצר שילובים לשימוש יומיומי. בסיום נכין רשימת פריטים מומלצים להשלמת המלתחה.'
          },
          {
            description: 'יום הקניות הגדול',
            more_text: 'יום קניות שכולו פאן. לאחר שנכיר את מבנה הגוף, הסגנון האישי והצרכים שלך, אבחר מראש פריטים המתאימים לך באופן מדויק. יחד נמדוד, נדייק ונבנה מלתחה חכמה, מחמיאה ורב-שימושית. בסיום נצלם את כל הלוקים כדי שתוכלי לחזור אליהם בקלות.'
          },
          {
            description: 'ליווי מקצה לקצה',
            more_text: 'לא נשארים עם ארון חצי ריק, ולא יוצאים לחנויות בלי לדעת מה באמת חסר.'
          },
          {
            description: 'קטלוג דיגיטלי אישי',
            more_text: 'אלבום תמונות בנייד עם עשרות שילובים מוכנים (מהארון הישן ומהקניות החדשות) כדי לחסוך את הדילמה של "מה ללבוש בבוקר".'
          },
          {
            description: 'חיסכון בזמן ובכסף',
            more_text: 'קונים רק מה שצריך ומדויק, ובלי רכישות אימפולסיביות שישכבו בארון.'
          },
        ],
        callToAction: {
          text: 'אני רוצה את המהפך המלא שלי',
          href: '#',
          icon: 'tabler:star',
        },
        hasRibbon: true,
        ribbonTitle: 'הנמכר ביותר!',
      },
      {
        title: 'יום הקניות הגדול',
        subtitle: 'עד 6 שעות | תל אביב',
        price: 199,
        period: 'Per Month',
        items: [
          {
            description: 'יום קניות שכולו פאן',
          },
          {
            description: 'לאחר שנכיר את מבנה הגוף, הסגנון האישי והצרכים שלך, אבחר מראש פריטים המתאימים לך באופן מדויק. יחד נמדוד, נדייק ונבנה מלתחה חכמה, מחמיאה ורב-שימושית. בסיום נצלם את כל הלוקים כדי שתוכלי לחזור אליהם בקלות.',
          },
          {
            description: 'שימו לב! השירות מיועד ללקוחות שרכשו את חבילה "באה לביקור" ו/או לקוחות חוזרים בלבד, מתוך אמונה שתהליך סטיילינג מוצלח מתחיל בהיכרות אישית מעמיקה.',
          },
       
        ],
        callToAction: {
          text: 'אני רוצה בגדים חדשים',
          href: '#',
          icon: 'tabler:shopping-cart',
        },
      },
      {
        title: 'סטיילינג לאירוע',
        subtitle: 'שעתי',
        price: 69,
        period: 'Per Month',
        items: [
          {
            description: 'ליווי אישי למציאת הלוק המושלם לאירוע מיוחד.',
          },
          {
            description: 'נפתח בפגישת היכרות קצרה בבית קפה, נדייק את הסגנון והצרכים שלך, ומשם נמשיך יחד לקניות ממוקדות ויעילות — כדי שתמצאי את ההופעה שתרגישי בה הכי יפה, בטוחה וזוהרת.',
          },
          {
            description: 'מתאים גם ללקוחות חדשים וגם ללקוחות חוזרים.',
          },
   
        ],
        callToAction: {
          text: 'אני רוצה לקבור',
          href: '#',
          icon: 'tabler:confetti',
        },
      },
            {
        title: 'ביקור רענון',
        subtitle: 'עד שעתיים',
        price: 29,
        period: 'כל חודש',
        items: [
        
          {
            description: 'מפגש קצר לרענון וסידור המלתחה, המיועד ללקוחות שרוצים לבצע עדכון ממוקד לקראת עונה חדשה או סבב קניות נוסף.',
          },
      {
            description: 'השירות מיועד ללקוחות חוזרים בלבד',
          },
        ],
        callToAction: {
          text: 'אני רוצה חיזוק',
          href: '#',
          icon: 'tabler:focus',
        },
      },
            {
        title: 'שובר מתנה',
        subtitle: 'עד 4 שעות',
        price: 29,
        period: 'כל חודש',
        items: [
          {
            description: 'ניתן לרכוש שובר מתנה לכל אחד מהשירותים שלי — מתנה אישית, מקורית ומרגשת לכל מי שאוהבים.',
          },
      
    
        ],
        callToAction: {
          text: 'אני רוצה לשמח מישהו שאני אוהב',
          href: '#',
          icon: 'tabler:gift',
        },
      },
    ]}
  />

    <Features
    id="features"
    title="הערך המוסף של רוניסטייל"
    columns={3}
    items={[

      {
        title: 'ליווי צמוד ומותאם אישית',
        description: 'ביחס למסלול שבחרתם - לא נשארים עם ארון חצי ריק, ולא יוצאים לחנויות בלי לדעת מה באמת חסר.',
        icon: 'tabler:heart',
      },
      {
        title: 'קטלוג דיגיטלי אישי',
        description:
          'אלבום תמונות בנייד עם עשרות שילובים מוכנים (מהארון הישן ומהקניות החדשות) כדי לחסוך את הדילמה של "מה ללבוש בבוקר".',
        icon: 'tabler:shirt',
      },
      {
        title: 'חיסכון בזמן ובכסף',
        description: 'קונים רק מה שצריך ומדויק, ובלי רכישות אימפולסיביות שישכבו בארון.',
        icon: 'tabler:rocket',
      },
    ]}
  />

     <Note
    actions={[
      {
        variant: 'primary',
        text: 'טוב תכלס, איפה יוצרים קשר?',
        href: '#contact',
        icon: 'tabler:message-circle',
      },
    ]}
/>


  <!-- Content Widget **************** -->

  <Content
  id="who"
    isReversed
    tagline=" גלו עוד"
    title="בשורה התחתונה, למי זה מתאים?"
    subtitle='השירותים שלי מיועדים לנשים ולגברים בכל גיל ובכל שלב בחיים'
        items={[
      {
        title: 'רוצים לעשות סדר בארון ולנצל טוב יותר את מה שכבר קיים.',
        icon:'tabler:hanger'
      },
      {
        title: 'מחפשים להכניס גיוון, צבע ועניין למלתחה.',
             icon:'tabler:hanger'

      },
      {
        title: 'מרגישים מבולבלים מול הארון בכל בוקר.',
          icon:'tabler:hanger'

      },  {
        title: 'רוצים להבין מה באמת מחמיא להם.',
          icon:'tabler:hanger'

      },  {
        title: 'עומדים בפני שינוי בחיים: היריון, לידה, חזרה לעבודה, קידום, זוגיות חדשה או שינוי אישי.',
          icon:'tabler:hanger'

      },  {
        title: 'רוצים לחסוך זמן, כסף והתלבטויות בקניות.',
          icon:'tabler:hanger'

      },  {
        title: 'שואפים להרגיש בטוחים, מדויקים ונינוחים יותר בלבוש שלהם.',
          icon:'tabler:hanger'

      },
    ]}
    image={{
      src: '~/assets/images/denim.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight  sm:text-3xl mb-2">השירות מתאים למי ש:</h3>
   </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0  "></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'מחפשים פתרונות קסם בחמש דקות -',
        description:
          'מלתחה חכמה ומדויקת דורשת תהליך, סבלנות ושותפות מלאה שלכם.',
                    icon:'tabler:hanger'

      },
      {
        title: 'רוצים רק שופינג מהיר ללא הכנה -',
        description:
          'אני מאמינה שסטיילינג מוצלח באמת מגיע מתוך היכרות, הבנת הצרכים ודיוק של מבנה הגוף, ולא ממסע קניות אקראי.',
                    icon:'tabler:hanger'

      },
      {
        title: 'לא מרגישים מוכנים לפנות קצת מקום בארון -',
        description:
          'אל דאגה, אני ממש לא מחייבת אף אחד לזרוק פריטים אהובים או סנטימנטליים. יחד עם זאת, סטיילינג מוצלח דורש מאיתנו פתיחות וכנות כדי להבין מה באמת משרת את מי שאתם היום ומה סתם תופס מקום ומעמיס עליכם בבוקר.',
                    icon:'tabler:hanger'

      },
       {
        title: 'פחות פתוחים לצאת מאזור הנוחות -',
        description:
          'סטיילינג, בדיוק כמו עולם המשחק, דורש לפעמים להעז למדוד תפקיד חדש. אם לא ננסה שילובים או גזרות שמעולם לא לבשתם, נפספס חצי מהכיף בתהליך.',
                    icon:'tabler:hanger'

              },
    ]}
    image={{
      src: '~/assets/images/swea.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight  sm:text-3xl mb-2">ולמי זה פחות מתאים?</h3>
</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 "></div>
    </Fragment>
  </Content>

 
     <Note
    actions={[
      {
        variant: 'primary',
        text: 'טוב תכלס, איפה יוצרים קשר?',
        href: '#contact',
        icon: 'tabler:message-circle',
      },
    ]}
/>


    <!-- Testimonials Widget *********** -->



<TestimonialCarousel 
id="testimonials"
  title="מה אומרים הלקוחות שלי?" 
  testimonials={testimonials} 
/>


  <!-- CallToAction Widget *********** -->


  <!-- CallToAction Widget *********** -->

<ContactUs
id="contact"
  title="מוכנים להתחיל לכתוב את הסיפור שלכם מחדש?"
  subtitle="השאירו פרטים ואחזור אליכם, או שלחו לי הודעה ישירה לוואטסאפ."
  image={{       src: '~/assets/images/bow2.jpg', alt: 'Contact Us' }}
  inputs={[
    { type: 'text', name: 'name', label: 'שם' },
    { type: 'email', name: 'email', label: 'אימייל' },
        { type: 'phone', name: 'phone', label: 'טלפון' }

  ]}
  textarea={{ label: 'הודעה' }}
  disclaimer={{
      label:
        'על ידי שליחת טופס יצירת הקשר הזה, אתה מאשר ומסכים לאיסוף המידע האישי שלך.',
    }}
    description="צוות התמיכה שלנו בדרך כלל מגיב תוך 24 ימי עסקים."
/>



</Layout>
