---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import ContactUs from '~/components/widgets/ContactImg.astro';

// Replace this with the URL you copied from your Google Script Deployment
const SHEET_URL = 'https://script.google.com/macros/s/AKfycbxDyCd_LuK4CIJwveNPuhvT6T_pkf-HfqbPAh-3UqtAfDLNS7WkAXz9zPB524AqQAc66g/exec';

let testimonials = [];

try {
  const response = await fetch(SHEET_URL);
  testimonials = await response.json();
} catch (e) {
  console.error("Failed to fetch testimonials", e);
}
const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
      <!-- Hero Widget ******************* -->

  <Hero
    tagline="המלצות"
  >
    <Fragment slot="title">
      מה אמרו עליי  <br />
      <span class="text-accent dark:text-white"> הלקוחות שלי</span>
    </Fragment>

  </Hero>

  <Testimonials testimonials={testimonials} />
        <!-- Testimonials Widget *********** -->



  <ContactUs
  id="contact"
  title="צרו קשר"
  image={{       src: '~/assets/images/bow2.jpg', alt: 'Contact Us' }}
  inputs={[
    { type: 'text', name: 'name', label: 'שם' },
    { type: 'email', name: 'email', label: 'אימייל' },
        { type: 'phone', name: 'phone', label: 'טלפון' }

  ]}
  textarea={{ label: 'הודעה' }}
  disclaimer={{
      label:
        'על ידי שליחת טופס יצירת הקשר הזה, אתה מאשר ומסכים לאיסוף המידע האישי שלך.',
    }}
    description="צוות התמיכה שלנו בדרך כלל מגיב תוך 24 ימי עסקים."
/>


 </Layout>
