---
import { SITE } from 'astrowind:config';
import logoImg from '~/assets/images/logobg.webp';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white w-36"
>
<img src={logoImg.src} alt="My Logo" />
</span>
